* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #0f2f35;
}

/* PAGE CENTERING */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  
}

/* CARD */
.login-card {
  width: 1100px;
  max-width: 95%;
  min-height: 400px;
  background: #ffffff;
  border-radius: 18px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  
}

/* LEFT */
.login-left {
  flex: 1;
  padding: 50px 55px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  color: #c45757;
  margin-bottom: 28px;
  font-size: 15px;
}

/* FORM */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  background: #f9fbff;
}

.form-group input:focus {
  outline: none;
  border-color: #7a2f3d;
  background: #fff;
}

/* FORGOT */
.forgot {
  text-align: right;
  margin-bottom: 25px;
}

.forgot a {
  font-size: 13px;
  color: #3b6cff;
  text-decoration: none;
}

/* PRIMARY BUTTON */
.btn-primary {
  width: 100%;
  padding: 12px 14px;
  background: #6d2c3a;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #e0e0e0;
}

.divider p {
  margin: 0 12px;
  font-size: 13px;
  color: #999;
}

/* SOCIAL BUTTONS */
.btn-social {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 14px;
}

.btn-social img {
  width: 12px;
}

.btn-social.google {
  background: #de8f8b;
  color: white;
}

.btn-social.facebook {
  background: #de8f8b;
  color: white;
}

/* SIGNUP */
.signup-text {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

.signup-text a {
  color: #3b6cff;
  text-decoration: none;
  font-weight: 500;
}

/* RIGHT */
.login-right {
  flex: 1;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
