.profile-page {
  display: flex;
  gap: 30px;
  padding: 40px 80px;
  background: #fafafa;
  min-height: calc(100vh - 60px);
}

/* SIDEBAR */
.profile-sidebar {
  width: 260px;
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.profile-sidebar h4 {
  margin-bottom: 6px;
}

.verified {
  display: inline-block;
  background: #22c55e;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #7a1c2d;
}

.sidebar-item.active {
  background: #f6f1f2;
  font-weight: 600;
}

/* CONTENT */
.profile-content {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.edit-icon {
  cursor: pointer;
}

/* FORM */
.profile-form {
  margin-top: 20px;
  max-width: 500px;
}

.profile-form label {
  font-size: 14px;
  margin-top: 16px;
  display: block;
}

.profile-form input {
  width: 100%;
  height: 42px;
  margin-top: 6px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
}

.dob-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.change {
  font-size: 13px;
  color: #2563eb;
  cursor: pointer;
}

.logout-btn {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #f3f4f6;
  color: #7a1c2d;
  font-weight: 600;
  cursor: pointer;
  

}
